<h2>Xin chào {{name}},</h2>
<p>Vui lòng xác thực tài khoản của bạn bằng cách nhấn vào link dưới đây:</p>
<p><a href="{{url}}">Xác thực tài khoản</a></p>
<p>Nếu bạn không đăng ký tài khoản, hãy bỏ qua email này.</p>